@import "variables.scss";

.table {
    text-align: center;
        margin: auto;
        max-width: 95%;
}
.tituloVentas {
    margin: 42px;
    text-align: center;
    color: #09C1F3;
    font-family:  'Azeret Mono', monospace;
    text-decoration: underline;
}
form {
    width: 50%;
    padding: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25rem;
}
.confirm {
    margin-bottom: 25rem;
}
.title {
    width: 100%;
    height: 370px;
}
footer {
    background-color: #373737;
}
i {
    color: #09C1F3;
}
.imagenSlider {
    width: 1100px;
    height: 700px;
}
h3 {
    font-weight: map-get($font-weight, 'medium');
    text-align: center;
    color: #09C1F3;
    padding: 20px;
    font-family: 'Fira Mono', monospace;
    text-decoration: underline;
}
h1 {
    text-align: center;
    color: #09C1F3;
    font-family: 'Bebas Neue';
    padding: 30px;
    text-decoration: underline;
}
h5 {
    color: gray;
    font-family: 'Inconsolata', monospace;
    text-decoration: underline;
}
.row {
    margin: 0 !important; 
}
.texto {
    padding: $small;
    color:#09C1F3;
}
iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2rem;
}
.textoIndex {
    margin: 25px;
    color:#09C1F3;
    font-family: Arial, Helvetica, sans-serif;
}
.textoAlquileres {
    padding: 1rem;
    font-size: $small;
    font-family: cursive;
}
.textoVentas {
    text-align: center;
    padding: 1rem;
    font-family: 'Hina Mincho', serif;
    font-size: 24px;
}
.textoNosotros {
    font-family: 'Glory', sans-serif;
    font-size: 25px;
}
p {
    color:#09C1F3;
    margin: 3rem;
}
.imagenAlquileres:hover {
    filter: sepia(60%);
}
.imagenVentas:hover {
    filter: saturate(180%);
}
.imagenSobrenosotros:hover {
    filter: grayscale(80%);
}
.bloque__1{
    text-align: center;
    padding: 3rem;
    width: ($porcentaje1) - ($porcentaje2)+45%;
    height: $height;
    font-size: $large;
    color: #09C1F3;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}
.bloque__2 {
    text-align: center;
    color: #09C1F3;
    font-size: $small;
    padding: $small;
}
@media (max-width: 360px) {
        form {
            width: 100%;
    }
}
@media (max-width: 375px) {
    form {
        width: 100%;
    }
}
@media (max-width: 411px) {
    form {
        width: 100%;
}
}
@media (max-width: 540px) {
    form {
        width: 100%;
    }
}
@media (max-width: 768px) {
    form {
        width: 100%;
    }
}